@font-face {

    font-family: myFont;
        src:url(fonts/lemonmilkbold.otf);
    }

@font-face {

    font-family: myFont1;
        src:url(fonts/ovb.ttf)
}


.p {

    font-family: myFont1;
    color: rgba(255, 255, 255, 0.74);
    
    }

.h1 {
    
    font-family: myFont1;
    font-size: 56px;
    color: white;
    margin-bottom: 13px;
  }

  


  @font-face {

    font-family: myFont3;
    src:url(fonts/Poppins-Light.ttf);
  }

  * {

    margin: 0;
    font-family: myFont3;
    padding: 0;
    box-sizing: border-box;

  }

  .header {
    justify-content: space-between;
    display: flex;
    font-family: myFont3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    align-items: center;
    z-index: 100;
  }

  body {
    min-height: 100vh;
    background: url(images/abstractimg.png) no-repeat;
    background-size: cover;
    
  }

  .logo {

    font-size: 18px;
    color:white;
    text-decoration: none;
    font-weight: 700;
  }

  .navbar a {

    color: white;
    font-weight: 100;
    text-decoration: none;
    margin-left: 25px;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
    user-select: none;
  }

  .navbar a:hover {

    
    color: rgb(199, 9, 142);
    cursor: pointer
    
  }
 
  .texts {
    align-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    margin-top: 250px;
    margin-left: 350px

  }

  .test {

    border-width:1px;
    border-style:solid;
    border-color:rgb(207, 207, 207, 0.5);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;

  }

  .test2 {

    border-width:1px;
    border-style:solid;
    border-color:rgb(207, 207, 207, 0.5);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;

  }

  .test3 {

    border-width:1px;
    border-style:solid;
    border-color:rgb(207, 207, 207, 0.5);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;

  }

  .test4 {

    border-width:1px;
    border-style:solid;
    border-color:rgb(207, 207, 207, 0.5);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;

  }

  .skills {

    margin-left: 450px;
    margin-top: 15px;
  }

  .pr1 {

    border-width:1px;
    border-style:solid;
    border-color:rgb(207, 207, 207, 0.5);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;

  }

  .pr2 {

    border-width:1px;
    border-style:solid;
    border-color:rgba(207, 207, 207, 0.5);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;

  }

  .pr3 {

    border-width:1px;
    border-style:solid;
    border-color:rgb(207, 207, 207, 0.5);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;

  }

  .pr4 {

    border-width:1px;
    border-style:solid;
    border-color:rgb(207, 207, 207, 0.5);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;

  }

  
  .programs {

    margin-left: 449px;
    margin-top: 15px;
    padding-bottom: 10px;
  }

  .link1 {

    border-width:1px;
    border-style:solid;
    border-color:rgb(207, 207, 207, 0.5);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
  }

  .link2 {

    border-width:1px;
    border-style:solid;
    border-color:rgb(207, 207, 207, 0.5);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    margin-left: 2px;
  }

  .link3 {

    border-width:1px;
    border-style:solid;
    border-color:rgb(207, 207, 207, 0.5);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    margin-left: 2px;
  }

  .link4 {

    border-width:1px;
    border-style:solid;
    border-color:rgb(207, 207, 207, 0.5);
    border-radius: 5px;
    text-decoration: none!important;
    margin-left: 2px;
    
  }

  .socials {

    margin-left: 449px;
    padding-top: 10px;
  }

  .about-texts {
    opacity: 0; /* Initially hide the text */
    transform: translateY(15px); /* Initially move the text downward */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Add transition effect */
}

.about-texts.fade-in {
    opacity: 1; /* Show the text with fade-in effect */
    transform: translateY(0); /* Move the text upward */
}

.j1 {


  font-family: myFont3;
 
}

.j2 {


  font-family: myFont3;
 
}

.j3 {


  font-family: myFont3;
  
}

.logo22 {

  font-family: myFont1;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 18px;
}
